@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700;800&family=Josefin+Slab:ital,wght@0,200;0,400;0,500;0,600;0,700;1,100;1,400;1,500;1,600;1,700&family=Mulish:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

* {
    list-style: none;
    text-decoration: none;

    margin: 0;
    padding: 0;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

:root {
    --curva-borda: 20px;
}

body {
    font-family: 'Roboto Mono', monospace;
    color: #0D518C;
}

/* Menu */
header {
    background-position: center;
    background-size: cover;
    position: fixed;

    width: 100%;
    z-index: 999;
}

.navbar-nav li {
    margin: 0 .5rem;
    width: 7rem;

}

.navbar-nav li a {
    text-align: center;
    font-size: .9rem;
    text-transform: uppercase;
}


@media (max-width: 767px) {
    .navbar-nav li {
        width: 100%;

    }

    .navbar-nav li a {

        font-size: 1rem;

    }
}


.bt-categoria {
    cursor: pointer;

    background: #0D518C;
    border: none;
    border-radius: var(--curva-borda);
    color: #ffffff;
    letter-spacing: .1rem;
    padding: 1rem 3rem;
    text-transform: uppercase;
    text-decoration: none;
}

.bt-categoria:hover {

    color: #ffffff;
    background: #097ce0;
}

/* Footer */
footer {
    background: url('../src/barra.png');
}

footer span {
    font-weight: bold;

}

.footer-social img {
    width: 3rem;

}

.contatos a {
    color: #000;
    text-decoration: none;
}